@import "~bulma/sass/utilities/initial-variables";

@font-face {
  font-family: "OpenSans";
  src: url("OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("OpenSans-Bold.ttf") format("truetype");
  font-weight: $weight-bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Bold.ttf") format("truetype");
  font-weight: $weight-bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}