{% extends 'base.html.twig' %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}
    <script id="user-data">
        {% if is_granted("ROLE_USER") %}
        window.user = {
          username: '{{ app.user.username }}',
          roles: [
              {% for role in app.user.roles %}
            '{{ role|e }}',
              {% endfor %}
          ],
          allowedSites: [
              {% for site in app.user.sites %}
            {{ site.id }},
              {% endfor %}
          ]
        }
        {% endif %}
    </script>
{% endblock %}