#MYSQL
DUMP_IN=dump.sql
DBNAME=rdig
MYSQL_ROOT_PASSWORD=rootpw
MYSQL_PASSWORD=passwd
MYSQL_USER=rdiguser
#PHP-FPM
GID=1000
UID=1000
PHPFPM_COMPOSER_MEMORY_LIMIT=-1
XDEBUG_CONFIG_REMOTE_HOST=192.168.1.100
SHARED_PATH=/path/to/docker/volumes/shared