@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$navbar-background-color: $grey-light;

@import "~bulma";

$navbar-bottom-height: 1.25rem;

nav.is-fixed-bottom {
  min-height: $navbar-bottom-height;
  background-color: $grey-darker;
  .navbar-item {
    &:hover {
      background-color: $grey-dark;
    }
  }
}
