@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import "~font-awesome/scss/font-awesome.scss";

$modal-z: 40;
$navbar-background-color: $grey-darker;
$navbar-item-hover-background-color: $grey-dark;
$family-sans-serif: "Vision";

@import "~bulma";

#container-main {
  margin-top: $navbar-height;
}

/*
  Navbar
 */

$navbar-bottom-height: 1rem;

nav.is-fixed-bottom {
  min-height: $navbar-bottom-height;
}
